<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='js/form.js')}}"></script>
    <title>Character</title>
</head>
<body>
    <div class="overlay"></div>
<div class="scanline"></div>
<div class="wrapper">
  <div class="content clearfix">

    {% include 'header.html' %}

    {% include 'navbar.html' %}

    <p class="clear"><br /></p>

    <form id="common_form" name="character_form" onsubmit="event.preventDefault(); submitForm('character_form', '/create_character', onSuccess, onError);">
      <label>Name >></label><input id="name" name="name" type="text" / required><br />
      <label>Class >></label><select id="origin" name="origin" / required>
      <option value="None">Choose origin...</option>
      {% for origin in origins %}
        <option value="{{ origin }}">{{ origin }}</option>
      {% endfor %}
      </select>
      <br />   
      <input type="submit" value="submit" /><br>
      <a class="button" alt="" href="index.html">Cancel</a>
    </form>
  </div>
</div>
    
</body>
</html>