<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='js/form.js')}}"></script>
    <title>Edit Character</title>
    <link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="overlay"></div>
    <div class="scanline"></div>
    <div class="wrapper">
        <div class="content clearfix">

            {% include 'header.html' %}

            {% include 'navbar.html' %}

            <p class="clear"><br /></p>

            <article class="post">
                <header>
                    <h2>Edit Character</h2>
                </header>
                <section>
                    <form id="edit_character_form" name="edit_character_form" onsubmit="submitForm('edit_character_form', '/update_character', onSuccess, onError);">
                        <label>Name:</label>
                        <input type="text" name="name" value="{{ character.name }}" /><br />

                        <label>Level:</label>
                        <input type="number" name="level" value="{{ character.level }}" /><br />

                        <label>Experience:</label>
                        <input type="number" name="experience" value="{{ character.experience }}" /><br />

                        <label>Origin:</label>
                        <input type="text" name="origin" value="{{ character.origin }}" /><br />

                        <h3>Attributes:</h3>
                        <label>Strength:</label>
                        <input type="number" name="strength" value="{{ character.attributes.strength }}" /><br />

                        <label>Perception:</label>
                        <input type="number" name="perception" value="{{ character.attributes.perception }}" /><br />

                        <label>Endurance:</label>
                        <input type="number" name="endurance" value="{{ character.attributes.endurance }}" /><br />

                        <label>Charisma:</label>
                        <input type="number" name="charisma" value="{{ character.attributes.charisma }}" /><br />

                        <label>Intelligence:</label>
                        <input type="number" name="intelligence" value="{{ character.attributes.intelligence }}" /><br />

                        <label>Agility:</label>
                        <input type="number" name="agility" value="{{ character.attributes.agility }}" /><br />

                        <label>Luck:</label>
                        <input type="number" name="luck" value="{{ character.attributes.luck }}" /><br />

                        <h3>Skills:</h3>
                        <input type="hidden" name="skills" value="{{ character.skills }}" />

                        <!-- Display skills data in a table (optional) -->
                        <table>
                            <tr>
                                <th>Skill</th>
                                <th>Attribute</th>
                                <th>Details</th>
                            </tr>
                            {% for skill in character.skills %}
                            <tr>
                                <td>{{ skill.skill }}</td>
                                <td>{{ skill.attribute }}</td>
                                <td>{{ skill.details }}</td>
                            </tr>
                            {% endfor %}
                        </table>


                        <h3>Perks:</h3>
                        <input type="hidden" name="perks" value="{{ character.perks }}" />

                        <!-- Display perks data in a table (optional) -->
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Rank</th>
                                <th>Description</th>
                            </tr>
                            {% for perk in character.perks %}
                            <tr>
                                <td>{{ perk.name }}</td>
                                <td>{{ perk.rank }}</td>
                                <td>{{ perk.description }}</td>
                            </tr>
                            {% endfor %}
                        </table>



                        <input type="hidden" name="id" value="{{ character.id }}" />
                        <input type="submit" value="submit" />
                        <a class="button" alt="" href="{{ url_for('show_characters.show_characters') }}">Cancel</a>
                    </form>

                </section>
            </article>
        </div>
    </div>
</body>
</html>
