<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='js/form.js')}}"></script>
    <title>Characters</title>
    <link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="overlay"></div>
    <div class="scanline"></div>
    <div class="wrapper">
        <div class="content clearfix">

            <header class="site clearfix">
                <div class="col one">
                    <img src="{{url_for('static', filename='img/vaultboy96.svg')}}" alt="591 Systems" />
                </div>
                <div class="col two">
                    <h4>591 Systems (tm) <br /> <b>H</b>euristically <b>E</b>ncrypted <b>R</b>ealtime <b>O</b>perating <b>S</b>ystem (HEROS)</h4>
                    <p>----------------------------------------</p>
                </div>
            </header>

            {% include 'navbar.html' %}

            <p class="clear"><br /></p>

            <article class="post">
                <header>
                    <h2>Characters</h2>
                </header>
                <section>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Origin</th>
                            <th>Level</th>
                        </tr>
                        {% for character in characters_data %}
                        <tr>
                            <td>{{ character.name }}</td>
                            <td>{{ character.origin }}</td>
                            <td>{{ character.level  }}</td>
                            <a class="button" alt="" href="{{ url_for('show_characters.view_character', name=character.name) }}">View</a>
                            <a class="button" alt="" href="{{ url_for('show_characters.edit_character', name=character.name) }}">Edit</a>

                            
                        </tr>
                        {% endfor %}
                    </table>
                </section>
            </article>
        </div>
    </div>
</body>
</html>
